default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                    doctrine: "@doctrine"
                - RestApiContext:
                    client: "@csa_guzzle.client.local_test_api"
                - Behat\MinkExtension\Context\MinkContext
                - App\Context\UserSetupContext:
                    userManager: "@fos_user.user_manager"
                    em: "@doctrine.orm.entity_manager"
                    validator: "@validator"

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
                env: "test"
        Behat\MinkExtension:
            base_url: "http://api.diocesan.local.dev/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~